@use "@tietokilta/ilmomasiina-components/src/styles/definitions" as *;

.navbar {
  background: $primary;
  margin-bottom: 1.5rem;
}

.navbar-brand {
  display: flex !important;
  align-items: center;
  color: color-yiq($primary) !important;
  text-transform: none;
  letter-spacing: 1px;
  font-family: "Anta", serif;
  font-weight: 400;
  font-style: normal;
}

// dirty hack to make the brand header appear larger without messing up the flexbox size
.larger-text {
  font-size: 2rem;
  line-height: 2rem;
}

.navbar-logo {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
  display: if($header-logo, block, none);
}
